/*estilos temporais para este contentor */
.contentor-cards{
    display: flex;
    justify-content: space-around;
    /*Para que se centre o conteúdo*/
    margin: auto;
    /*Para que as cards formem umha nova linha se hai mais que o ancho que as pode conter*/
    flex-wrap: wrap;
}

/*Estabelece um ancho fixo à card mais converte em contentor flex com 
direction column*/
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    /*border radius para o contentor, para que dobre as esquinas e logo
    box shadow para fazer os efectos de arredor. as duas primeiras cifras som para a 
    possiçom do fondo e as duas seguintes para o blur (difuminado) mais o spread (o gordo da linha)*/
    border-radius: 1em;
    box-shadow: 0 0 10px 5px gray;
    padding: 5px;
}

/*Estabelece a imagem de cabeceira da card. Vai com um div para despois poder
cambiar de imagem cando se fai hover*/
.imagem-card{
    /*Estabelece um alto e um ancho para o contentor da imagem, se nom nom se mostra nada*/
    width: 100%;
    height: 200px;
    /*Indica a imagem de fondo mais com cover fai que se ajuste a todo o espaço sem deformar
    neste caso ao ser umha image case quadrada e a janela para a visualizar apaisada, corta um anaco
    pola parte de abaixo */
    /*A assignaçom da imagem concreta com background-image: url(../img/avatar.png); fago-a despois polo 
    id assignado a cada imagem de cada card*/
    background-size: cover;
    /*Redondea as puntas superiores da imagem*/
    border-radius: 1em 1em 0 0 ;
    /*Converto-o em flex para cando tenha que levar o logo de vídeo, que se centre no contentor*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-card{
    /*Que ocupe todo o ancho e que elimine as margens que trae por defecto*/
    width: 100%;
    height: 50px;
    margin: 0;
    padding-top: 10px;
    /*Coverto a flex para centrar o h4*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Por se acaso o texto tem duas linhas, para que apareça centrado*/
    text-align: center;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bolder;
    /*color: indigo;*/
    /*border: 1px solid saddlebrown;*/
}

.descrip-card {
    width: 100%;
    height: 200px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    /*Converto tamém a flex para que despois o parágrafo apareça sempre centrado na horizantal do contentor*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.descrip-card .p{
    width: 100%;
}
p.paragrafo-card {
    /*Estabelece o tamanho maximo dos parágrafos da card*/
    max-height: 175px;
    /*Se o texto ocupa mais que o tamanho indicado antes crea-se um scroll
    para poder le-lo todo*/
    overflow-y: auto;
    /*padding lateral*/
    padding: 0 10px 0 10px;
    /*Estilos de letra*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 1.1em;
}

/*Converto tamém a flex para controlar os elementos introduziodos*/
.botom-card{
    display: flex;
    /*Para que se distbuam dum jeito mais ou menos igual deixando margem nos laterais do contentor*/
    justify-content: space-around;
    /*assigno-lhe um padding superior e inferior para separar algo os elementos*/
    padding: 5px 0 5px 0;
    /*Dou-lhe o ancho do 100% para que os elementos se repartam por todo esse espaço*/
    width: 100%;
}

i.fa-play-circle{
    font-size: 3rem;
    display: none;
}

/*Assignaçom de imagens às cards polo seu id=cardX*/
#card1 .imagem-card{
    background-image: url(../img/avatar.png);
}
#card1 .imagem-card:hover{
    background-image: url(../img/logo.jpeg);
}

#card3 .imagem-card{
    background-image: url(../img/ruxe1.png);
}
#card3 .imagem-card:hover{
    background-image: url(../img/ruxe2.png);
}

/*Para cando vai sem imagem, engade as classes imagem-card-nom e .desc-card-alt por meio do dataset data-imagem*/
.imagem-card-nom{
    display: none;
}

.desc-card-alt{
    height: 400px;
}

.desc-card-alt p.paragrafo-card{
    max-height: 390px;
}

@media (max-width: 1200px){
    .contentor-cards{
        flex-direction: column;
    }
}