/*Nom dei feito para que o pe quedara no fondo se o contido
da página era pouco*/

/*Converto o contentor do pe a flex, como por defecto flex.direction é row já
fica assí.*/
#pe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: gray;
    /*Estilos para o texto contido no pé*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bolder;
    /*color: indigo;*/
}

/*converto tamém a flex o do logo e nome, para que se mostrem um de par do outro*/
#nome{
    display: flex;
    /*Para que apareça um por riba do outro e centrados*/
    flex-direction: column;
    align-items: center;
}


/*Tamanho do logo para o pe de página, e o seu padding*/
#nome img{
    width: 50px;
    padding: 1em;
}


/*Para cando a pantalla seja menor de 1200px oculto o nome, ficando só o logo*/
@media (max-width: 1200px){
    #nome div{
        display: none;
    }
}