form{
	width:50%;
	padding:16px;
	border-radius:3px;
    /*Centra o formulario*/
	margin:auto;
	background-color:rgb(179, 62, 62);
}

/*Resalta os textos dos label*/
form label{
	width:72px;
	font-weight:bold;
}

form input[type="text"], form input[type="email"], form input[type="tel"]{
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
}

form button[type="submit"], form button[type="reset"]{
	/*width:100%;*/
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	/*display:block;*/
	color:#fff;
	background-color:#000;
} 

/*Cambia o cursor a forma de mao*/
form button[type="submit"]:hover, form button[type="reset"]:hover{
	cursor:pointer;
	color: rgb(179, 62, 62);
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
    /*Impide que se fagam cambios do tamanho da caixa*/
	resize:none;
}

legend {
	font-size: bolder;
	color: white;
}