/*  
https://www.youtube.com/watch?v=DEXKAUrl2q0  
https://www.ionos.es/digitalguide/paginas-web/creacion-de-paginas-web/css-grid-layout/
*/

/*Converter o contentor das imagens a grid*/
.grid-gallery{
    display: grid;
    /*Crear umha quadrícula de 5 columnas e que se creem filas segudo seja preciso*/
    grid-template-columns: repeat(5, 1fr);
    /*Estabelece umha separaçom entre as quadrícuals do grid*/
    gap: 1em;
}

/*Estabelecer um alto para cada contentor de umha imagem*/
.grid-gallery .gallery-item{
    height: 250px;
    /*Para que oculte todo o anaco das imagens que sobresaem do seu contentor*/
    overflow: hidden;
    /*Na teoría esta propriedade divide o elemento no número de columnas especificado.
    Se é um div com um texto divide esse texto no número de colunas que se lhe mande.
    Neste caso, com column-count 0 ou auto, ampliam-se as imagens até ocupar
    todo o recadro, com column-count 1, as imagens amoldam-se ao ancho do 
    contentor, com um valor mais alto as imagens vam-se volvendo mais pequenas, ocupando o espaço de umha columna das especificadas*/
    column-count: 1;
}

/*Agora, para cada imagem, indicar que o ancho e o alto mínimo vai ser do 100%*/
.grid-gallery .gallery-item img{
    min-width: 100%;
    min-height: 100%;
    /*Para que nom se deforme a imagem cando se adecua ao ancho do seu contentor (o especificado na seguinte regra*/
    object-fit: cover;
    object-position: center;
}

.gallery-item > img{
    max-width: 100%;
    /*Para que se mostrem co seu alto, se tenhem menos do alto náximo, se nom passam-se
    pero nom se mostram*/
    height: auto;
    transition: width 0.4s linear 0s;
}


/*Transiçom que fai o efecto de que se lhe quite opacidade cando se fai hover*/
.gallery-item > img:hover{
    opacity: 0.8;
    transition: 0.4s ease-in-out opacity 0s;
}


/*Media queryes para menores tamanhos de pantalha*/
@media (max-width: 1200px){
    .grid-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    .grid-gallery { grid-template-columns: repeat(2, 1fr);}
}

@media (max-width: 500px) {
    .grid-gallery { grid-template-columns: repeat(1, 1fr);}
}