/* Fai que o header com id=cabeceira se converta num contentor flex, 
logo fai que a direçom dos elementos seja em coluna alinha-os, nos dous eixos 
centrados*/
#cabeceira{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Com esta propriedade, que por defecto é 0 para todos os elementos
    consígo que o separador seja o único que cambia de tamanho cando agranda ou encolhe a 
    pantalha, fazendo que fique sempre assí o logo à esquerda e o botom mais o menú a dereita
    Também o uso para que o pé de página apareça sempre no fondo da pantalha, ainda que o contido nom
    cubra o suficiente*/
.separador{
    flex-grow: 1;
}
/*Estabelece o tamanho da imagem do logo*/
#logo img{
    width: 150px;
}

/*Converte tamém o o ul dentro do nav com id=menu-principal num contentor flex para poder ponher
a lista em linha ou columna segundo convenha. Como por defecto é flex-direction: row; já 
nom lhe ponho nada.
De passo retira os estilos da lista
Neste link hai info que me gustou https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
#menu-principal ul {
    display: flex;
    list-style-type: none;
}


#menu-principal li a {
    margin: 15px;
    /*color: lightpink;*/
    text-decoration: none;
    list-style: none;
    font-weight: bolder;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*Estilos para o botom das raias*/
#menu-movil {
    /*padding-top: 10px;*/
    /*color: rgb(58, 44, 44);*/
    font-size: 70px;
    width: 150px;
    height: 150px;
    /*background-color: rgb(61, 60, 60);*/
    border-radius: 10px;
    border: 0;
}


/*Media queries para cambiar de menú segundo o ancho da pantalha*/
@media (min-width: 1200px) {
    #menu-movil {
      display: none;
    }
}
  
@media (max-width: 1200px) {
    #cabeceira {
        /*Convertemos agora a direcçom do flex a linha para que se mostrem os tres elementos em linha
        o logo à esquerda, o menú no medio e o botom à dereita. Despois o menú aparecerá e desaparecerá 
        por medio de javascript com um evento onclick*/
        flex-direction: row;
        /*Para que os elementos se alinhem cara a cima do flex row*/
        align-items: flex-start;
        /*Para que se separen na horizontal*/
        justify-content: space-around;
    }
    
    /*Fai que o meni colha a direcçom column de flex para presentar-se em vertical
    cando a pantalha encolhe*/
    #menu-principal ul{
      flex-direction: column;
      /*Elimina o padding que tem cara a esquerda por defecto a lista*/
      padding-left: 0;
    }

    /*Estilos para o contentor do menú, que por defecto estará a none*/
    #cabeceira nav {
        background-color: rgb(61, 60, 60);
        border-radius: 10px;
    }

    .ocultar{
        display: none;
    }
}
