.contedor-barra {
    background-color: #FF5F42;
    padding: 1em;
}

.titulo-barra {
    font-family: monospace;
}

.barra_ex, .barra_in, .contedor-barra {
    border-radius: 3px;
}

.barra_ex{
    background-color:#000000;
    /*Ca propriedade display: flex converto o contentor num elemento flex e a baeea interior vai ser o seu único elemento*/
    display:flex;
    /*flex-wrap: wrap;*/
}

.barra_in {
    /*Estableço umha cor para o texto e outra para o fondo, para que se diferencie do contentor*/
    color:black;
    font-weight: bolder;
    background-color:#ffffff;
    /*Estabeleço um ancho do 100%. Este atributo vai cambiar despois com umha funçom de javascript
    que vai recolher o valor indicado no HTML e só vai medrar até a porcentagem indicada*/
    width: 100%;
    /*Alinho o texto da porcentagem ao centro*/
    text-align: center;
    /*Aquí defino a animaçom para a barra interior
    Vai-se chamar progresso, vai durar 0.5 segundos e vai ser
    linear, isto quere dizir que se vai reproduzir ca mesma velocidade em todo momento */
    animation-name: progresso;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    /*Que seria o mesmo que ponher animation: progresso 2s linear;*/
}

/*Fotograas chave para a animaçom*/

@keyframes progresso {
    0% {
        width: 0;
    }
    /*Se lhe metes estes pontos intermedios, para esta animaçom polo menos, e 
    lhe indicas um easy-in-out, vai fazer o efecto em cada chegada de ponto, 
    é dizer que no 25% vai parar um poquinho e logo arrancar de novo, no 50% igual, etc.
    Tamém, e nom sei porque, se se lhe pom a unidade de medida width em porcentagens
    a animaçom chega ao final e logo volve a medida marcada, é dizer, que se o width
    de barra_in é 50% vai até o 100% e logo salta ao 50%. Pero se se lhe ponhem 
    as unidades sem medida, daquela chega ao final do ancho marcado*/
    /*25% {
        width: 25;
    }
    50% {
        width: 50;
    }
    75% {
        width: 75;
    }*/
    100% {
        width: 0.1;
    }
}
