.projecto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*fondo e tamanho do contentor do título*/
.titulo-projecto {
    width: 100%;
    /*color: rgb(37, 5, 5);*/
    font-size: 1.3rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*background: purple;*/
    margin-bottom: 10px;
}


.contido-projecto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Esta classe sería para engadir tanto se se pom um vídeo, ca etiqueta vídeo, coma se se
pom umha imagem ca etiqueta imagem*/
.video-imagem{
  width: 75%;
}

.contido-projecto p{
  width: 75%;
  text-align: justify;
  /*Divide o texto em dúas colunas*/
  column-count: 2;
}

strong{
  font-weight: bolder;
  color: brown;
}

.iconos-projecto{
  font-size: 2rem;
  width: 75%;
  display: flex;
  justify-content: space-around;
}
/*
.fab, .far{
  color: plum;
}

.fab:hover, .far:hover{
  color: rebeccapurple;
}*/

/*Media query para tamanhos menores de 1200px*/
@media (max-width: 1200px){
  video, .iconos-projecto{
    width: 100%;
  }
}
