.fa-cog {
    font-size: 5em;
    color: rgb(61, 61, 0);
    /*A animaçom vai-se chamar rodar, vai durar 2 segundos e 
    vai-se repetir infinitas vezes*/
    animation: rodar 2s infinite;
    opacity: 1;
    animation-timing-function: linear;
    transition: 0.5s linear opacity 1s;
}

#spinner {
    /*Fixa a possiçom para que se mostre sempre ainda que se faga scroll*/
    position: fixed;
    /*Para que se mostre por riba do resto de elementos da web*/
    z-index: 25000;
    background: rgb(199, 32, 32);
    /*Achega os bordes e estabelece o alto e o ancho para que 
    ocupe toda a pantalha*/
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    /*Converte o contentor num elemento flex e centra o spinner*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*As transiçons, se nom entendo mal, som para cando se lhe cambia a propriedade 
    opacity, por exemplo, para que esse cambio se faga gradualmente*/
    opacity: 1;
    transition: 1s 1.5s;
}

/*Creo esta classe para que cando se execute o javascript, que engade esta mesma 
classe ao div de spinner, que tenha o valor de 0. Sem !important nom vai*/
.hide {
    opacity: 0 !important;
}

@keyframes rodar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


