@import url(cards.css);
@import url(footer.css);
@import url(formulario.css);
@import url(header_menu.css);
@import url(progress_bar.css);
@import url(projecto_detalhe.css);
@import url(spinner.css);
@import url(grid.css);

/*Cores*/
:root {
    --verde: rgb(56, 116, 28);
    --vermelho: rgb(179, 62, 62);
    --negro: #000;
}

.fas:hover, .fab:hover, .far:hover, li a:hover, #menu-principal li a:hover,#menu-principal li #seleccionado:hover, #seleccionado i:hover, #spinner i {
    color: var(--negro);
}

#menu-movil,.titulo-projecto{
    background-color: var(--negro);
}


/*Destaca o elemento do menú que está seleccionado*/
#menu-principal li #seleccionado, #seleccionado i{
    color: var(--verde);
}

.fas, .fab, .far, #pe, #menu-principal li a,#menu-movil i,h1,h2,h3,h4,h5,h6 {
    color: var(--vermelho);
}


/*Para que o pé de página apareça sempre no fondo, dou-lhe um alto do 100% a toda a página,
coloco um seprador antes do footer e converto o body num elemento flex em columna.
ca propiedade flex-grow:1 aplicada a classe separador este elemento ocupa automaticamente o espaço*/
html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

/*Padding para o main, para que se separe do header e do footer*/


.principal{
    padding: 2rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}

.principal section{
    margin: 1rem;
}

.principal img{
    width: 100px;
}

.principal p{
    text-align: justify;
}

@media (max-width: 1200px){
    .principal{
        flex-direction: column;
    }
}